/vendor
/node_modules
/public/downloads
/public/storage
/public/dataset
/public/files
/public/img
/public/olmatches
/public/sift_exps
/public/surf_exps
/public/uploads
/public/*.py
/public/*.json

access.log
error.log
Homestead.yaml
Homestead.json
.env
